body
{
  color: papayawhip;
  background: beige;
}

span
{
  font-size: 30px;
}

#camera , #result
{
  border: 2px dashed black;
  width: 350px;
  height: 300px; 
}

#result_signal_name1 ,#result_signal_name2  
{
  color: black;
}

.signal_name
{
  font-size: 40px;
}

.hand
{
  font-size:48px;
}

.heading{
  font-size: 18px;
  border-radius: 10px;
  letter-spacing: 10px;
}

label{
  font-size: 14px;
  color: goldenrod;
  padding: 6px;
  border-radius: 10px;
  background-color: blueviolet;
}